In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
DA=pd.read_csv('AllApplication.csv')

In [3]:
DA.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,0,0,0,1,Cash loans,M,N,Y,0,202500.0,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,1,1,1,0,Cash loans,F,N,N,0,270000.0,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,2,1,1,0,Cash loans,F,N,N,0,270000.0,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,3,1,1,0,Cash loans,F,N,N,0,270000.0,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,4,2,2,0,Revolving loans,M,Y,Y,0,67500.0,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0

In [4]:
# Converting 'negative' values into 'positive' Values
DA['DAYS_FIRST_DUE'] = DA['DAYS_FIRST_DUE'].abs()
DA['DAYS_LAST_DUE'] = DA['DAYS_LAST_DUE'].abs()
DA['DAYS_TERMINATION'] = DA['DAYS_TERMINATION'].abs()

In [5]:
from sklearn.preprocessing import LabelEncoder
cols=['NAME_CONTRACT_STATUS','NAME_FAMILY_STATUS','CODE_GENDER']

for col in cols:
    DA[col]=LabelEncoder().fit_transform(DA[col])

In [6]:
DA.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,0,0,0,1,Cash loans,1,N,Y,0,202500.0,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,565.0,125.0,25.0,17.0,0.0
1,1,1,1,0,Cash loans,0,N,N,0,270000.0,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,716.0,-386.0,536.0,527.0,1.0
2,2,1,1,0,Cash loans,0,N,N,0,270000.0,...,Furniture,6.0,middle,POS industry with interest,365243.0,797.0,-647.0,647.0,639.0,0.0
3,3,1,1,0,Cash loans,0,N,N,0,270000.0,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,2310.0,-1980.0,1980.0,1976.0,1.0
4,4,2,2,0,Revolving loans,1,Y,Y,0,67500.0,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,784.0,-694.0,724.0,714.0,0.0

In [7]:
DA.fillna(value = 0,  
          inplace = True)

In [8]:
X=DA[['CNT_PAYMENT','DAYS_FIRST_DRAWING','DAYS_FIRST_DUE','AMT_DOWN_PAYMENT','DAYS_LAST_DUE','DAYS_TERMINATION',
         'AMT_CREDIT','AMT_ANNUITY','DAYS_BIRTH','DAYS_EMPLOYED','NAME_CONTRACT_STATUS','NAME_FAMILY_STATUS','CODE_GENDER','CNT_CHILDREN',
'AMT_INCOME_TOTAL','REGION_POPULATION_RELATIVE','AMT_REQ_CREDIT_BUREAU_YEAR','AMT_ANNUITY_PREV','AMT_APPLICATION','CNT_PAYMENT']]
y=DA[['TARGET']]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25,random_state=42)

In [10]:
#Classify Function
from sklearn.model_selection import cross_val_score
def Classifier(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25,random_state=42)
    model.fit(X_train,y_train)
    print('accuracy is',model.score(X_test,y_test)*100)
    score=cross_val_score(model,X,y,cv=5)
    print('cross validation is,',np.mean(score)*100)

In [11]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
Classifier(model,X,y)

C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

accuracy is 91.289096250216

C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\yasmi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

cross validation is, 91.2993860516625

In [12]:
y_pred=model.predict(X_test)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:

rfc = RandomForestClassifier(max_depth=30, n_estimators=10)

In [15]:
rfc.fit(X_train,y_train)

<ipython-input-15-0b00acaf8842>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train,y_train)

RandomForestClassifier(max_depth=30, n_estimators=10)

In [16]:
predictions = rfc.predict(X_test)#prediction and evaluation

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.93      1.00      0.97    316974
           1       0.97      0.26      0.41     30246

    accuracy                           0.93    347220
   macro avg       0.95      0.63      0.69    347220
weighted avg       0.94      0.93      0.92    347220

In [19]:
print(confusion_matrix(y_test,predictions))

[[316728    246]
 [ 22382   7864]]

In [20]:
feature_imp = pd.Series(rfc.feature_importances_,index=X.columns).sort_values(ascending=False)

In [21]:
feature_imp

DAYS_BIRTH                    0.121099
AMT_ANNUITY                   0.111707
DAYS_EMPLOYED                 0.110213
AMT_CREDIT                    0.103686
REGION_POPULATION_RELATIVE    0.083766
AMT_INCOME_TOTAL              0.077042
AMT_ANNUITY_PREV              0.058765
AMT_APPLICATION               0.055014
AMT_REQ_CREDIT_BUREAU_YEAR    0.052808
DAYS_FIRST_DUE                0.040803
DAYS_LAST_DUE                 0.029895
DAYS_TERMINATION              0.029199
NAME_FAMILY_STATUS            0.027672
CNT_CHILDREN                  0.020778
AMT_DOWN_PAYMENT              0.020109
CNT_PAYMENT                   0.018490
CNT_PAYMENT                   0.018007
DAYS_FIRST_DRAWING            0.008239
CODE_GENDER                   0.007062
NAME_CONTRACT_STATUS          0.005646
dtype: float64

In [24]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.290113
         Iterations 7
                                Results: Logit
===============================================================================
Model:                   Logit                Pseudo R-squared:     0.018
Dependent Variable:      TARGET               AIC:                  805900.3428
Date:                    2020-12-06 00:55     BIC:                  806131.0790
No. Observations:        1388879              Log-Likelihood:       -4.0293e+05
Df Model:                18                   LL-Null:              -4.1049e+05
Df Residuals:            1388860              LLR p-value:          0.0000
Converged:               1.0000               Scale:                1.0000
No. Iterations:          7.0000
-------------------------------------------------------------------------------
                            Coef.   Std.Err.     z     P>|z|   [0.025   0.975]
-------------------------------------------------------------------------------
CNT_PAYMENT                  0.0061      nan       nan    nan      nan      nan
DAYS_FIRST_DRAWING          -0.0000   0.0000  -63.3920 0.0000  -0.0000  -0.0000
DAYS_FIRST_DUE              -0.0000   0.0000   -6.8247 0.0000  -0.0000  -0.0000
AMT_DOWN_PAYMENT            -0.0000   0.0000  -15.9693 0.0000  -0.0000  -0.0000
DAYS_LAST_DUE                0.0000   0.0000   13.7889 0.0000   0.0000   0.0000
DAYS_TERMINATION            -0.0000   0.0000  -12.5615 0.0000  -0.0000  -0.0000
AMT_CREDIT                  -0.0000   0.0000  -12.3276 0.0000  -0.0000  -0.0000
AMT_ANNUITY                  0.0000   0.0000    7.2803 0.0000   0.0000   0.0000
DAYS_BIRTH                  -0.0001   0.0000 -133.1956 0.0000  -0.0001  -0.0001
DAYS_EMPLOYED                0.0000   0.0000    8.2207 0.0000   0.0000   0.0000
NAME_CONTRACT_STATUS        -0.1022   0.0053  -19.1632 0.0000  -0.1126  -0.0917
NAME_FAMILY_STATUS          -0.0506   0.0030  -16.6475 0.0000  -0.0565  -0.0446
CODE_GENDER                  0.2633   0.0064   41.1809 0.0000   0.2508   0.2758
CNT_CHILDREN                -0.0994   0.0042  -23.5958 0.0000  -0.1076  -0.0911
AMT_INCOME_TOTAL            -0.0000   0.0000  -32.4423 0.0000  -0.0000  -0.0000
REGION_POPULATION_RELATIVE -11.7437   0.2542  -46.1968 0.0000 -12.2419 -11.2455
AMT_REQ_CREDIT_BUREAU_YEAR  -0.0111   0.0014   -8.1467 0.0000  -0.0138  -0.0085
AMT_ANNUITY_PREV            -0.0000   0.0000   -9.9503 0.0000  -0.0000  -0.0000
AMT_APPLICATION             -0.0000   0.0000   -8.4516 0.0000  -0.0000  -0.0000
CNT_PAYMENT                  0.0062      nan       nan    nan      nan      nan
===============================================================================

AttributeError: 'LogitResults' object has no attribute 'savefig'